* {
  font-family: 'Times', times;
}

body {
  background: gray;
}

table {
  border: 10px solid coral;
}

td {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(223, 140, 45);
  background: gray;
}

th {
  background-color: pink;
  color: white;
